.bar {
    -fx-background-color: blue;
    -fx-min-width: 350;
    -fx-max-width: 350;
    -fx-min-height: 500;
    -fx-max-height: 500;
    transition: width 2s;
    -fx-padding: 30px, 0px, 0px, 0px;
    -fx-border-insets: 30px, 0px, 0px, 0px;
    -fx-background-insets: 30px, 0px, 0px, 0px;
    }

.textWindow{
    -fx-max-width: 700;
    -fx-min-width: 700;
    -fx-max-height: 700;
    -fx-min-height: 700;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: white;
    -fx-text-box-border: none;
}
.textWindow:focused {
    -fx-focus-color: none;
}


.textWindow .text{
    -fx-fill: white;
    -fx-background-color: #C5C6C7;
}

.menu-bar {
    -fx-background-color: #4E4E50 ;
}

.menu-bar .button {
    -fx-background-color: blue;
}

.menu-button{
    -fx-background-color: #1F2833;
    -fx-text-fill: white;
    -fx-min-width: 50;
    -fx-max-width: 50;
    -fx-min-height: 150;
    -fx-max-height: 150;
}

.menu-button:hover {
    -fx-background-color: #45A29E;
}

.menu-item{
    -fx-text-fill: white;
    -fx-background-color: #66FCF1;
}

.custom-titlebar {
    -fx-background-color: black;
}
