.bar {
    -fx-background-insets: 0px, 0px, 15px, 15px;
    -fx-background-color: #1F2833;
    -fx-min-width: 500;
    -fx-max-width: 500;
    -fx-min-height: 25;
    -fx-max-height: 25;
    transition: width 2s;
}

.textWindow{
    -fx-max-width: 1000;
    -fx-min-width: 1000;
    -fx-max-height: 720;
    -fx-min-height: 720;
    -fx-border-radius: 10 10 0 0;
    -fx-background-radius: 10 10 0 0;
    -fx-background-color: #0B0C10;
    -fx-text-box-border: none;
}
.textWindow:focused {
    -fx-focus-color: none;
}


.textWindow .text{
    -fx-fill: white;
    -fx-background-color: #C5C6C7;
}

.menu-bar {
    -fx-background-color: #4E4E50 ;
}

.menu-button{
    -fx-background-color: #1F2833;
    -fx-text-fill: white;
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 33;
    -fx-max-height: 33;
}

.menu-button:hover {
    -fx-background-color: #45A29E;
}

.menu-item{
    -fx-text-fill: white;
    -fx-background-color: #66FCF1;
}

.custom-titlebar {
    -fx-background-color: #1A1A1D;
}
